*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
 }
 
.main{
    height: 100vh;
    width: 100%;
    background-color: black;
    
      
}

b{
    margin-left: 7vw;
}



li, a, button{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;

}

header {
    width: 100vw;
    height: 50px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
    position: fixed;
    z-index: 1;
    
}

.logo {
cursor: pointer;
}

.nav_links {
    list-style: none;
    
}
.nav_links li{
    display: inline-block;
    padding: 0% 20px;    
}
.nav_links li a h1{
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    
}
.nav_links li a h1:hover{
    color: white;
    background-color: purple;
    
}
button{
    margin-right: 7vw;
   padding: 7px 50px;
    background-color:purple;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0)
}
.image {
    width: 25vw;
    height: 55vh;
    position: absolute;
    bottom: 15%;
    right: 10px;
    
    
    
    
}
.image img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 30%;
    
    
}
.content{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    
}
b{
    color: white;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;

}
.content a{
    font-size: 20px;
    background: red;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border-radius: 2px solid white;
    transition: .5s;

}
.content a:hover {
    background: transparent;
    border: 2px solid red;
}
.about {
    width: 100%;
    padding: 100px 0;
    background-color: #191919;

}
.about-me {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me img {
    height: auto;
    width: 330px;
    border-radius: 10px;
}
.about-text {
    width: 550px;
}
.about-text h2{
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
}
.about-text h5{
   color: white;
   letter-spacing: 2px;
   font-size: 22px;
   margin-bottom: 25px;
   text-transform: capitalize;
}
.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.button {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;

}
.button:hover {
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0;
}
.title h2 {
    color: white;
    font-size: 75px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card {
    height: 365px;
    width :335px;
    padding: 20px 35px;
    background: #141414;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid red;
}
.card img {
    
    font-size: 50px;
    display: block;
    text-align: center;
    margin-left: 75px;
    width: 100px;
}
.card h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}
.pra p {
    color: #fcfc;
    font-size: 16px;
    height: 100px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: justify;

}
.pra p a{
    
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;

}
.pra p a:hover {
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.skill {
   background: #191919;
   width: 100%;
   padding: 100px 0; 
}
.skill-bar {
    padding-top: 10px;
    padding-bottom:10px ;
    color: white;
}
.skill-bar p {
    text-align: left;
}
.skill-box {
    text-align: left;
    width: 100%;
    background-color: white;
}
.html {
    width: 40%;
    background-color: red;
}
.css {
    width: 30%;
    background-color: blueviolet;
}


.php{
    width: 30%;
    background-color: orange;
}
.game{
  width: 60%;
  background-color: rgb(255, 0, 204);
}
.olahraga{
    width: 30%;
    background-color: rgb(0, 255, 42);
}
.baca{
    width: 10%;
    background-color: rgb(0, 234, 255);
}

.contact-me {
    width: 100%;
    padding: 100px 0;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-text h2 {
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.contact-box {
    color: white;   
}
.contact-box::after {
    content: '';
    display: block;
    clear: both;
}
.contact {
    width: 25%;
    padding: 50px;
    box-sizing: border-box;
    text-align:center;
    float: left;
}
.contact h4 {
    color: red;
    padding-bottom: 10px;

}
.contact p{
    font-size: 18px;
} 
